html{
    background-color: rgb(56, 56, 56);
}

a{
    text-decoration: none;
    color: rgb(246, 198, 255);;
}

body{
    display: flex;
    flex-direction: column; 
    position: relative;
    text-align: center;
    justify-content: center;
}

.front-page{
    position: relative;
}

.animation{
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 1;
}

.headshot{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    max-width: 20rem;
    animation: fadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.name{
    margin: 0.75rem 0 1rem 0;
    color: rgb(216, 69, 204);
    font-family: 'Roboto Mono', monospace;
    font-size: 3rem;
    animation: fadeIn ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.college{
    align-items: center;
    color: rgb(216, 124, 235);
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.linkedin{
    border: 0.35rem solid  #0e76a8;
}

.github{
    border: 0.35rem solid  #24292f;
}

.email{
    border: 0.35rem solid  #e2133d;
}

.linkedin,
.github,
.email{
    animation: fadeIn ease 3s;
    max-width:1.75rem;
    border-radius: 50%;
    padding: 0.5rem;
    transition: all 0.3s ease-in-out 0s;
    margin-left: 1rem;
    margin-right: 1rem;
}

.linkedin:hover,
.github:hover, 
.email:hover{
    max-width:2rem;
    transform: rotate(30deg);
    transition: all 0.3s ease-in-out 0s;
}

.description{
    position: relative;
    justify-content: center;
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    color: aliceblue;
    padding-left: 0.75rem;
}

.who-title, 
.work-title, 
.education-title,
.projects-title,
.contact-title{
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    color: rgb(216, 69, 204);
}

.irlca-title, 
.secondary-title, 
.uni-title{
    font-size: 1.25rem;
    text-decoration: underline;
    color: rgb(216, 124, 235);;
}

.antipatterns-collapsible,
.shutterstock-collapsible,
.github-stats-collapsible,
.bus-collapsible,
.space-invaders-collapsible,
.web-calculator-collapsible,
.file-retrieval-protocol-collapsible,
.flow-forwarding-collapsible{
    background-color: rgb(68, 68, 68);
    color: rgb(216, 124, 235);;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.25rem;
    text-decoration: underline;
    cursor: pointer;
    width: 100%;
    border: rgb(7, 34, 44);
    text-align: left;  
}
  
.active, 
.antipatterns-collapsible:hover,
.shutterstock-collapsible:hover,
.github-stats-collapsible:hover,
.bus-collapsible:hover,
.space-invaders-collapsible:hover,
.web-calculator-collapsible:hover,
.file-retrieval-protocol-collapsible:hover,
.flow-forwarding-collapsible:hover{
    background-color: rgb(102, 96, 96);
}
  
.antipatterns, 
.shutterstock,
.github-stats,
.bus-management-system,
.space-invaders,
.web-calculator,
.file-retrieval-protocol,
.flow-forwarding{
    padding: 0 1.2rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    padding-bottom: 0.2rem;
}

.antipatterns-title,
.shutterstock-title,
.github-stats-title,
.bus-title,
.space-invaders-title,
.web-calculator-title,
.file-retrieval-protocol-title,
.flow-forwarding-title{
    font-size: 1.25rem;
    text-decoration: underline;
    color: rgb(0, 210, 234);
    margin: 0;
    display: inline;
}