html{
    background-color: rgb(68, 68, 68);
}

a{
    text-decoration: none;
    color: rgb(25, 185, 221);
}


body{
    height: 100vh;
    width: 100vw;
    text-align: center;
    justify-content: center;
}

body,.headshot{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.animation{
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    opacity: 1;
}

.headshot{
    border-radius: 50%;
    max-height: 35%;
    animation: fadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.name{
    position: relative;
    top: 450px;
    align-items: center;
    color: rgb(0, 255, 255);
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    animation: fadeIn ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.college{
    position: relative;
    top: 420px;
    align-items: center;
    color: rgb(0, 210, 234);
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    animation: fadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.links{
    position: relative;
    top:400px;
    padding: 5px;
}

.linkedin{
    border: 5px solid  #0e76a8;
}

.github{
    border: 5px solid  #24292f;
}

.email{
    border: 5px solid  #e2133d;
}

.linkedin,
.github,
.email{
    animation: fadeIn ease 3s;
    position: relative;
    max-width:30px;
    border-radius: 50%;
    padding: 5px;
    transition: all 0.3s ease-in-out 0s;
    margin-left: 5px;
    margin-right: 5px;
}

.linkedin:hover,
.github:hover, 
.email:hover{
    transform: rotate(30deg);
    transition: all 0.3s ease-in-out 0s;
    max-width: 35px;
}

.description{
    position: relative;
    top: 70vh;
    width: 95vw;
    justify-content: center;
    text-align: left;
    font-family: 'Roboto Mono', monospace;
    color: aliceblue;
    padding-left: 2.5vw;
}

.who-title, 
.work-title, 
.education-title,
.projects-title,
.contact-title{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
    color: rgb(0, 255, 255);
}

.irlca-title, 
.secondary-title, 
.uni-title{
    font-size: 20px;
    text-decoration: underline;
    color: rgb(0, 210, 234);
}

.antipatterns-title,
.shutterstock-title,
.github-stats-title,
.bus-title,
.space-invaders-title{
    font-size: 20px;
    text-decoration: underline;
    color: rgb(0, 210, 234);
    margin: 0;
    display: inline;
}

.IRLCA{
    color: rgb(25, 185, 221);
    text-decoration: none;
}