body{
    margin: 0 auto;
    background-image: linear-gradient(to bottom right,lightgray, white, white, lightgray);
}

h1{
    font-family: 'Varela Round', sans-serif;
    font-size: 35px;
    padding-left: 5px;
}

h2{
    font-family: 'Varela Round', sans-serif;
    padding-left: 15px;
}

h3{
    font-family: 'Varela Round', sans-serif;
    padding-left: 15px;
}

h3:hover{
    color: #ff00c0;
}

h5{
    font-family: 'Varela Round', sans-serif;
    padding-left: 15px;
    color: gray;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    padding-left: 15px;
}

a{
    font-family: 'Varela Round', sans-serif;
    color: black;
    text-decoration: none;
}

div{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    align-items: center;
}

.title-name{
    color: black;
    margin-top: -5px;
    font-family: 'Oswald', sans-serif;
}

.title-degree{
    color: #ff00c0;
    font-family: 'Oswald', sans-serif;
    margin-top: -30px;
}

.github-logo{
    width: 52px;
    margin: -90px 1450px;
    filter: brightness(0%);
    position: absolute;
}

.github-logo:hover{
    filter: brightness(30%);
}

.linkedin{
    width:55px;
    margin: -92px 1380px;
    filter: brightness(0%);
    position: absolute;
}

.linkedin:hover{
    font-family: 'Roboto Condensed', sans-serif;
    filter: brightness(30%);
}

.email{
    position: absolute;
    margin: -90px 1125px;
}

.about-me{
    align-items: center;
}

.headshot{
    width: 200px;
    padding-left: 10px;
}

.description{
 text-align: center;
}

.about{
    position: relative;
    margin-top: 80px;
}

.secondary-school{
    align-items: center;
    display: flex;
}

.education{
    position: relative;
}

.cbs{
    width: 225px;
    padding-left: 10px;
}

.about-secondary{
    position: relative;
    padding-left: 20px;
}

.college{
    align-items: center;
    display: flex;
    margin-top: 20px;
}

.about-college{
    position: relative;
    padding-left: 20px;
}